{% extends 'core/base.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    <div class="py-6 px-6">
        <h1 class="mb-4 text-xl">Сотрудники</h1>
    
        {% if salaries %}
            <div class="mt-6 flex justify-between">
                <p class="py-4 px-2 bg-gray-200 font-semibold w-full">Номер</p>
                <p class="py-4 px-2 bg-gray-200 font-semibold w-full">Работник</p>
                <p class="py-4 px-2 bg-gray-200 font-semibold w-full">Позиция</p>
                <p class="py-4 px-2 bg-gray-200 font-semibold w-full">Выплачено</p>
                <p class="py-4 px-2 bg-gray-200 font-semibold w-full">Заработано</p>
                <p class="py-4 px-2 bg-gray-200 font-semibold w-full">Оклад</p>
                <p class="py-4 px-2 bg-gray-200 font-semibold w-full">Бонусы</p>
                <p class="py-4 px-2 bg-gray-200 font-semibold w-full">Рейтинг</p>
                <p class="py-4 px-2 bg-gray-200 font-semibold w-full">Статусы</p>
                <p class="py-4 px-2 bg-gray-200 font-semibold w-full">Действие</p>
            </div>

            {% for salary in salaries %}
                <div class="flex justify-between">
                    <p class="py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">
                        #{{ salary.worker.id }}
                    </p>
                    <p class="py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">
                        {{ salary.worker.user.get_full_name }}
                    </p>
                    <ul class="py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">
                        {% for position in salary.worker.position.all %}
                            <li class="inline-block bg-fuchsia-100 text-fuchsia-800 text-xs font-semibold mr-2 mb-1 px-3 py-1 rounded-full">
                                {{ position.name }}
                            </li>
                            {% empty %}
                            <li >Нет позиций</li>
                        {% endfor %}
                    </ul>
                    <p class="py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">
                        {{ salary.monthly_payout }}₽
                    </p>
                    <p class="py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">
                        {{ salary.monthly_earned }}₽
                    </p>
                    <p class="py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">{{salary.worker.salary}}₽</p>
                    <p class="py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">{{salary.worker.bonuses}}</p>
                    <p class="py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">
                        {{ salary.rating }}% <br/>
                    </p>
                    <p class="py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">
                        <span class="inline-block bg-fuchsia-100 text-fuchsia-800 text-xs font-semibold mr-2 mb-1 px-3 py-1 rounded-full">
                            <b>Звершенных</b>: {{ salary.completed }}
                        </span> <br/>
                        <span class="inline-block bg-fuchsia-100 text-fuchsia-800 text-xs font-semibold mr-2 mb-1 px-3 py-1 rounded-full">
                            <b>Отмененных</b>: {{ salary.canceled }}
                        </span> <br/>
                        <span class="inline-block bg-fuchsia-100 text-fuchsia-800 text-xs font-semibold mr-2 mb-1 px-3 py-1 rounded-full">
                            <b>В работе</b>: {{ salary.confirmed }}
                        </span>
                    </p>
                    <p class="py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">
                        <a href="{% url 'payment:update' salary.worker.id %}" title="Изменить" class="inline-block p-2 bg-orange-500 hover:bg-orange-600 text-white rounded-l-full transition duration-200 my-2">
                            <i class="fa fa-pen"></i>
                        </a>
                        <a href="{% url 'payment:create' %}?worker={{salary.worker.id}}" title="Выплатить" class="inline-block p-2 bg-green-500 hover:bg-green-600 text-white rounded-r-full transition duration-200 my-2">
                            <i class="fa fa-wallet"></i>
                        </a>
                    </p>
                </div>
            {% endfor %}
        {% else %}
            <p class="mt-6 px-2">Нет {{title}} в базе сейчас...</p>
        {% endif %}

        <h1 class="mb-4 text-xl">Выплаты</h1>
        {% if payments %}
            <div class="mt-6 flex justify-between">
                <p class="py-4 px-2 bg-gray-200 font-semibold w-full">Номер</p>
                <p class="py-4 px-2 bg-gray-200 font-semibold w-full">Работник</p>
                <p class="py-4 px-2 bg-gray-200 font-semibold w-full">Выплачено</p>
                <p class="py-4 px-2 bg-gray-200 font-semibold w-full">Коммент</p>
                <p class="py-4 px-2 bg-gray-200 font-semibold w-full">Дата</p>
            </div>

            {% for payment in payments %}
                <div class="flex justify-between">
                    <p class="py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">
                        #{{ payment.id }}
                    </p>
                    <p class="py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">{{payment.worker.user.get_full_name}}</p>
                    <p class="py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">{{payment.amount}}₽</p>
                    <p class="py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">{{payment.comment}}</p>
                    <p class="py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">{{payment.payment_date}}</p>
                </div>
            {% endfor %}
        {% else %}
            <p class="mt-6 px-2">Нет {{title}} в базе сейчас...</p>
        {% endif %}
    </div>
{% endblock %}