{% extends 'core/base.html' %}

{% block title %}О студии{% endblock %}

{% block content %}

<div class="p-10">
<p>Добро пожаловать в <strong>Beauty Studio</strong> — место, где забота о вашей красоте становится искусством.</p>
<p>Мы — команда профессионалов, объединённых страстью к эстетике, качеству и вниманию к деталям. В нашей студии работают опытные мастера с профильным образованием и безупречным вкусом. Каждый из нас стремится не просто оказать услугу, а создать атмосферу доверия, уюта и вдохновения.</p>
<h3 id="-">Что нас отличает:</h3>
<ul>
<li>💇‍♀️ Индивидуальный подход к каждому клиенту</li>
<li>💅 Современные технологии и проверенные косметические бренды</li>
<li>🕒 Удобная система онлайн-записи</li>
<li>🧼 Чистота, безопасность и гигиена — без компромиссов</li>
<li>🌸 Тёплая атмосфера и приятное общение</li>
</ul>
<p>Мы предлагаем полный спектр услуг: от стрижек и окрашиваний до сложных уходов, перманентного макияжа, маникюра и массажа. Ваша красота и комфорт — наш главный приоритет.</p>
<p>Будем рады видеть вас в нашей студии!</p>
<p><strong>С любовью,
Beauty Studio 💖</strong></p>
</div>

{% endblock %}